* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Tangerine', serif;
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2.5rem;
  color: darkslategrey;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  padding: 0 3rem;
  margin: 0 auto;
  text-align: center;
}

/* ============================ */
.wrap {
  min-height: calc(100vh - 138);
}

/* .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
} */

/* Header layout ========================= */

.main-header {
  background: #ccc;
  padding: 0.5rem;
  margin: 0 auto;
  padding: 2rem 0;
  /* text-transform: uppercase; */
}

/* .main-header {
  margin: auto;
  padding: 2rem 0;
} */
/* .name,
.main-nav {
  display: inline-block;
  margin-top: 1rem;
} */

.main-nav li a {
  font-size: 3rem;
  padding-right: 1.4rem;
  font-weight: 400;
}

.main-header .name ul:hover {
  cursor: pointer;
}

.name,
.main-nav {
  display: inline-block;
  /* margin: auto; */
}

/* .main-nav {
  margin-left: 16rem;
} */

/* ===================== */

.col {
  display: inline-block;
  width: 40%;
}

.portfolio-image {
  margin-left: 6rem;
  padding-top: 4rem;
  border-radius: 2rem;
}

.portfolio-image img {
  width: 300px;
  border-radius: 0.7rem;
}

.name,
.main-nav li {
  display: inline-block;
}

/* Main Section */
.primary-section {
  padding-bottom: 3rem;
}

.secondary-section {
  padding-bottom: 3rem;
}

#portfolio h2 {
  padding-top: 5rem;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}

.marketing-page3 {
  padding: 20px;
  display: inline-block;
  width: 330px;
}

.marketing-page2 {
  padding: 20px;
  display: inline-block;
  width: 330px;
}

.marketing-page1 {
  padding: 20px;
  display: inline-block;
  width: 330px;
}

/* Secondary section */
.marketing-page4 {
  padding: 20px;
  display: inline-block;
  width: 330px;
}

.marketing-page5 {
  padding: 20px;
  display: inline-block;
  width: 330px;
}

.marketing-page6 {
  padding: 20px;
  display: inline-block;
  width: 330px;
}

/* Contact Section */
#contact {
  padding: 4rem;
}

.footer-name {
  font-size: 3rem;
}

.footer-name,
.footer-ul li {
  display: inline-block;
}

.footer-ul {
  margin-left: 17rem;
}

.footer-ul a {
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

/* Portfolio section */
#portfolio {
  background: #ccc;
}

/* FOOTER  */
.main-footer ul {
  display: inline-block;
}

.main-footer {
  background: #ccc;
  padding: 1rem 0;
}

/* Media Queries */
@media (max-width: 1024px) {
  .container {
    width: 95%;
  }

  /* .main-nav {
    margin: 0;
  } */
}
